*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: rgb(39, 186, 231);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 520px;
    width: 380px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

.full-screen{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    display: none;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.storiyan{
    height: 160px;
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}

.storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid red;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img{
    height: 130px;
    width: 130px;
}